body {
  overflow: scroll;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, p, small {
  cursor: pointer;
}

h1, p {
  margin: 10px 0 0 0;
}

a {
  text-decoration: none;
}

.artwork-appear {
  opacity: 0;
}

.artwork-appear.artwork-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
